<%= render :partial => "home/header" %>      
<%= render :partial => "home/sidebar" %>

<% unless current_user.nil? %>

      
    <% if params[:search2].nil? && params[:search].nil? %>
      <section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">
    
              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">
                    
                           <br>
                        <div class="container-fluid" style="text-align:center">
                          <!-- Trigger the modal with a button -->
                          
                           <h3>최신순</h3>
            <%= render :partial => "home/postsquare" %>
                                             
                        </div>
                    
                  </div>
              </div>
                  
          </section>
      </section>
 
    <% elsif params[:search2].nil? %>
      <section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">
    
              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">
                    
                           <br>
                        <div class="container-fluid" style="text-align:center">
                          <!-- Trigger the modal with a button -->
                          
                           <h3>내 학교 목록</h3>
          	 <%= render :partial => "home/mylog" %>
                                             
                        </div>
                    
                  </div>
              </div>
                  
          </section>
      </section>



    <% elsif params[:search].nil? %>
      <section id="main-content" style="height:230px">
        <section class="wrapper" style="height:250px">
    
              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">
                    
                           <br>
                        <div class="container-fluid" style="text-align:center">
                          <!-- Trigger the modal with a button -->
                          
      <h3>내가 쓴 게시글 목록</h3>
          	 <%= render :partial => "home/mylog2" %>
                                             
                        </div>
                    
                  </div>
              </div>
                  
          </section>
      </section>
    <% end %>          
<% end %>