  <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>오<small>빠가</small> 미팅 <small>잡아줄게</small></b></a>
            <!--logo end-->
            <% if current_user.nil? %>    
            <div class="top-menu row pull-right" style="margin-top:5px; text-align:right">
            	

            	
            	<form class="form-inline" action="/home/check" method="POST">
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" name="login_user" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input type="password" class="form-control" id="login_password" placeholder="Password">
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                      </div>
                      <button type="submit" class="btn btn-default">Sign in</button>
                </form>
                <a href="/users/sign_up">혹시 처음이신가요?</a>
            <% else %>	
            	<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/users/sign_out">Logout</a></li>
            	</ul>
            <% end %>	
            </div>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              <% unless current_user.nil? %>
              	  <p class="centered"><a href="profile.html"><img src="assets/인하대 로고.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><small>환영합니다</small> <%=current_user.email %><small>님</small></h5>
              	  
              	  <%= current_user.sex %>입니다
              	  
              <% end %>
              	 
              	  <div>
              	  <p style="text-align:center">대학교 검색</p>
              	  </div>
  <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter items...">



                 <h2>실시간 대학교</h2>

                                    <div class="form-group">
                                        <div class="items-collection2">
                            
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-car fa-2x"></span>
                                                                <h5>연세대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-truck fa-2x"></span>
                                                                <h5>고려대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-laptop fa-2x"></span>
                                                                <h5>인하대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-cube fa-2x"></span>
                                                                <h5>숙명여대</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-lock fa-2x"></span>
                                                                <h5>secure</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-barcode fa-2x"></span>
                                                                <h5>barcode</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-key fa-2x"></span>
                                                                <h5>key</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        <br>    
                                            <div class="items2">
                                                <div class="info-block block-info clearfix">
                                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                                        <label class="btn btn-default">
                                                            <div class="itemcontent">
                                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                                <span class="fa fa-keyboard-o fa-2x"></span>
                                                                <h5>keyboard</h5>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>                
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="form-group">
                                        <div class="col-sm-12 col-md-12 col-lg-12">                
                                            <i class="fa fa-search fa-2x pull-left searchicon"></i><input type="search" class="form-control" id="search" placeholder="Filter items...">
                                        </div>
                                    </div>
                                </div>    
                                                   
                        </h3>
                    


    


<script>
$(function () {
    $('#search').on('keyup', function () {
        var pattern = $(this).val();
        $('.items-collection2 .items2').hide();
        $('.items-collection2 .items2').filter(function () {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});
</script>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
            
            
            
<% if current_user.nil? %>
            
<section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-10 main-chart" style="height:250;">
                     <div class="row col-lg-10">
                       <h3>최근 올라온 미팅 리스트</h3>
                     </div>
                     
                            
                    	
                    
                  	<div class="row mtbox">
                  	    
					<% for i in 0..8 %>	
						<div class="col-md-4 mb goodd" style="height:170px">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>인하대</h5>
								</div>
								<p><img src="/assets/인하대 로고.jpg" class="img-circle" width="40"></p>
								<p><b>인하대후문 2명</b></p>
								
							</div>
			            </div>
			            
			      <% end %>   

              </div><! --/row -->
              
              
              
          </section>
      </section>

<script>
    $(document).ready(function(){
        $(".goodd").click(function(){
           alert("로그인을 해주세요"); 
        });
    });
    
</script>
      

      

      </footer>
      <!--footer end-->
<% else %>

<section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-10 main-chart" style="height:250;">
                     <div class="row col-lg-10"><br>
                     
                       <form action="/home/post" method="POST">
                          <input class="btn btn-primary" type="submit" value="만남 적기"> <br> <br>
                       </form>
                     
                       <h3>최근 올라온 미팅 리스트</h3>
                     </div>
                     <div class="col-lg-2"><br>
                       <h3>더보기</h3>
                    	</div>
                            
                    	
                    
    	<div class="row mtbox">
                  	   	    
                  	    
					<% @posts2.reverse.each do |x| %>

            <div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5><%= x.univ %></h5>
								</div>
								<p><img src="/assets/인하대 로고.jpg" class="img-circle" width="40"></p>
								<p><b><%= x.post_univ %> / <%= x.number %></b></p>
								
							</div>
			      </div>
                
                <a href="/five/read/<%=x.id%>"> <%= x.univ %> / <%= x.sex %> / <%= x.number %> / <%= x.post_univ %>에서 <%= x.post_univ_other %>에 봐요~  </a>
                    
      </div>
            </form> <br>

            <% end %>
           
 
      
            <br>
                
              
              





              </div><! --/row -->
              
              
              
          </section>
      </section>

      <!--main content end-->
      
      <section id="main-content" style="height:230px">
          <section class="wrapper2" style="height:250px">

              <div class="row">
                  <div class="col-lg-10 main-chart" style="height:250">
                    <div class="row col-lg-10">
                       <h3>우리학교 미팅 리스트</h3>
                     </div>
                     <div class="col-lg-2">
                       <h3>더보기</h3>
                    	</div>
                  	<div class="row mtbox" style="height:160px">
                  	    
					<% for i in 0..2 %>	
						<div class="col-md-4 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>인하대</h5>
								</div>
								<p><img src="/assets/인하대 로고.jpg" class="img-circle" width="40"></p>
								<p><b>인하대후문 4명</b></p>
								
							</div>
			      </div>
			            
			      <% end %>   

              </div><! --/row -->
              
              
              
          </section>
      </section>
      
      <section id="main-content" style="height:230px">
          <section class="wrapper2" style="height:250px">

              <div class="row">
                  <div class="col-lg-10 main-chart2" style="height:250">
                    <div class="row col-lg-10">
                       <h3>내 활동 로그</h3>
                     </div>
                     <div class="col-lg-2">
                       <h3>더보기</h3>
                    	</div>
                  	<div class="row mtbox" style="height:160px">
                  	    
					<% for i in 0..3 %>	
						<div class="col-md-3 mb">
							<!-- WHITE PANEL - TOP USER -->
							<div class="white-panel pn">
								<div class="white-header">
									<h5>인하대</h5>
								</div>
								<p><img src="/assets/인하대 로고.jpg" class="img-circle" width="40"></p>
								<p><b>인하대후문 3명</b></p>
								
							</div>
			            </div>
			            
			      <% end %>   

              </div><! --/row -->
              
              
              
          </section>
      </section>

      

      </footer>
      <!--footer end-->

<% end %>