<%= render :partial => "home/header" %>      
<%= render :partial => "home/sidebar" %>
<% if current_user.nil? %>
                
    <section id="main-content" style="height:230px">
      <section class="wrapper" style="height:250px">
    
          <div class="row">
              <div class="col-lg-12 main-chart" style="height:250;">
                    
                           <br>
                        <div class="container-fluid" style="text-align:center">
                          <!-- Trigger the modal with a button -->
                          
                           <h3>최근 올라온 미팅 리스트</h3>
                              <%= render :partial => "home/postsquare" %>
                        
                        </div>
                    
              </div>
          </div>
                  
              </section>
          </section>
    
    <script>
        $(document).ready(function(){
            $(".goodd").click(function(){
               alert("로그인을 해주세요"); 
            });
        });
        
    </script>
          
<% else %>


                     <br><br><br><br>
                       
<%= render :partial => "home/postwrite" %>
                     
        <section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">


                           <form action="/home/three" method="POST" class="form-inline">  
                               최근 올라온 미팅 리스트
                              <input type="submit"class="form-control" value="더보기">
                           </form>
<%= render :partial => "home/posts2" %>
        
                      </div>
                    </div>
            </section>
        </section>

    
       <section id="main-content" style="height:230px">
          <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">

                       
                       <form action="/home/three" method="POST" class="form-inline">  
                           
                          <input type="hidden" name="search" value="<%=current_user.univ%>">
                          내 학교 목록
                          <input type="submit"class="form-control" value="더보기">
                      </form>
<%= render :partial => "home/mylog" %>


                     </div>  
                  </div>
                </div>
            </section>
        </section>
      
    
      
        <section id="main-content" style="height:230px">
            <section class="wrapper" style="height:250px">

              <div class="row">
                  <div class="col-lg-12 main-chart" style="height:250;">

                       
                         <form action="/home/three" method="POST" class="form-inline">  
                          <input type="hidden" name="search2" value="<%=current_user.id%>">
                          내가 쓴 게시글 목록
                          <input type="submit"class="form-control" value="더보기">
                         </form>

                     
<%= render :partial => "home/mylog2" %>

                     </div>  
                  </div>
                </div>
            </section>
        </section>
      
<% end %>
<%= render :partial => "home/signup" %>      